@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

<ul class=" navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item">
                    <form asp-controller="Account" asp-action="LogOut" method="post">
                        <button type="submit" class="btn">Log Out</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="LogIn">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>
